@page
@model MyFirstApp.Views.Products.IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<h1>Products index page</h1>
<p>We will have products here soon.</p>