@page
@model MyFirstApp.Views.Products.MessageModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<h1>Important Message</h1>
<p>This page is important!</p>